# Created by https://www.gitignore.io/api/eclipse
# Edit at https://www.gitignore.io/?templates=eclipse

### STS 3 ##
porm.properties
MANIFEST.MF

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
##밑에 주석처리 3개 원래는 ignore처리해줘야하지만 처음 프로젝트임포트할때 인식이안되는문제발생해 주석처리만 해줬음 익숙해지면 지우세요 설정꼬이기쉬운부분이래요 
#.projrct
#.classpath
#.settings/

# Annotation Processing
.apt_generated

.sts4-cache/

# End of https://www.gitignore.io/api/eclipse
