<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tour.increpas.package.tour.mapper">

	<!-- 해외 여행 리스트 보기 -->
	<select id="packageList" resultType="Package_tour_VO" parameterType="hashmap">
		select 
		package_tour_idx,
		package_tour_name,
		package_tour_start_date,
		package_tour_end_date,
		package_tour_total,
		package_tour_image,
		package_tour_thumbnail,
		package_tour_contents,
		package_tour_start,
		package_tour_arrive,
		package_tour_natname,
		package_tour_class,
		package_tour_hotel_class,
		package_tour_agency,
		package_tour_theme,
		package_tour_price,
		package_tour_status,
		package_tour_free,
		package_tour_shopping,
		package_tour_manager,
		package_tour_waypoint
		from package_tour
		<where>
			<if test="nations != 'null'">
				package_tour_natname LIKE CONCAT('%', #{nations}, '%')
			</if>
			<if test="category == 'package_tour_idx'">
				package_tour_idx LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="category == 'package_tour_arrive'">
				package_tour_arrive LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="category == 'package_tour_name'">
				package_tour_name LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</where>
		order by package_tour_idx desc
	</select>
	
	<select id="overSeaPackageDetail" resultType="Package_tour_VO" resultMap="package_tour_resmap">
		select 
			*
		from package_tour
		where package_tour_idx = #{package_tour_idx}
	</select>
	
	
	<!-- 국내여행 리스트보기 -->
	<select id="package_do_List" resultType="Package_do_tour_VO" resultMap="package_do_tour_resmap">
		select
			*
		from package_do_tour
	</select>
	
	<select id="getBoard" resultType="Package_do_tour_VO" resultMap="package_do_tour_resmap">
		select
			*
		from package_do_tour
		where package_do_tour_idx = #{package_do_tour_idx}
	</select>
	
	<!-- 맵 위도경도 조회 -->
	<select id="map_List" resultType="Package_do_tour_VO" resultMap="package_do_map_resmap">
		select
			*
		from emp
	</select>
	
	<insert id="insertPackageList" parameterType="Package_tour_VO" useGeneratedKeys="true">
		insert into package_tour(
		package_tour_name, package_tour_start_date, package_tour_end_date, package_tour_total,
		package_tour_image, package_tour_thumbnail, package_tour_contents, package_tour_start, package_tour_arrive,
		package_tour_natname, package_tour_class, package_tour_hotel_class, package_tour_agency, package_tour_theme,
		package_tour_price, package_tour_status, package_tour_free, package_tour_shopping, package_tour_manager, package_tour_waypoint)
		values(
		#{package_tour_name}, #{package_tour_start_date}, #{package_tour_end_date}, #{package_tour_total}, #{package_tour_image},
		#{package_tour_thumbnail}, #{package_tour_contents}, #{package_tour_start}, #{package_tour_arrive}, #{package_tour_natname},
		#{package_tour_class}, #{package_tour_hotel_class}, #{package_tour_agency}, #{package_tour_theme}, #{package_tour_price},
		#{package_tour_status}, #{package_tour_free}, #{package_tour_shopping}, #{package_tour_manager}, #{package_tour_waypoint}
		)
	</insert>
	
	<update id="updatePackageList" parameterType="Package_tour_VO">
		update package_tour set
		package_tour_name = #{package_tour_name},
		package_tour_start_date = #{package_tour_start_date},
		package_tour_end_date = #{package_tour_end_date},
		package_tour_total = #{package_tour_total},
		package_tour_image = #{package_tour_image},
		package_tour_thumbnail = #{package_tour_thumbnail},
		package_tour_contents = #{package_tour_contents},
		package_tour_start = #{package_tour_start},
		package_tour_arrive = #{package_tour_arrive},
		package_tour_natname = #{package_tour_natname},
		package_tour_class = #{package_tour_class},
		package_tour_hotel_class = #{package_tour_hotel_class},
		package_tour_agency = #{package_tour_agency},
		package_tour_theme = #{package_tour_theme},
		package_tour_price = #{package_tour_price},
		package_tour_status = #{package_tour_status},
		package_tour_free = #{package_tour_free},
		package_tour_shopping = #{package_tour_shopping},
		package_tour_manager = #{package_tour_manager},
		package_tour_waypoint = #{package_tour_waypoint}
		where package_tour_idx = #{package_tour_idx}
	</update>
	
	<delete id="deletePackageList">
		delete from package_tour where package_tour_idx = #{package_tour_idx}
	</delete>
	
	<!-- 해외 여행  -->
	<resultMap type="Package_tour_VO" id="package_tour_resmap">
		<id property="package_tour_idx" column="package_tour_idx" />
		<result property="package_tour_name" column="package_tour_name" />
		<result property="package_tour_start_date" column="package_tour_start_date" />
		<result property="package_tour_end_date" column="package_tour_end_date" />
		<result property="package_tour_total" column="package_tour_total" />
		<result property="package_tour_image" column="package_tour_image" />
		<result property="package_tour_contents" column="package_tour_contents" />
		<result property="package_tour_start" column="package_tour_start" />
		<result property="package_tour_arrive" column="package_tour_arrive" />
		<result property="package_tour_natname" column="package_tour_natname" />
		<result property="package_tour_class" column="package_tour_class" />
		<result property="package_tour_hotel_class" column="package_tour_hotel_class" />
		<result property="package_tour_agency" column="package_tour_agency" />
		<result property="package_tour_theme" column="package_tour_theme" />
		<result property="package_tour_price" column="package_tour_price" />
		<result property="package_tour_status" column="package_tour_status" />
		<result property="package_tour_free" column="package_tour_free" />
		<result property="package_tour_shopping" column="package_tour_shopping" />
		<result property="package_tour_manager" column="package_tour_manager" />
		<result property="package_tour_waypoint" column="package_tour_waypoint" />
		<result property="package_tour_thumbnail" column="package_tour_thumbnail" />
	</resultMap>
	
	<!-- 국내여행 -->
	<resultMap type="Package_do_tour_VO" id="package_do_tour_resmap">
		<id property="package_do_tour_idx" column="package_do_tour_idx" />
		<result property="package_do_tour_name" column="package_do_tour_name" />
		<result property="package_do_tour_start_date" column="package_do_tour_start_date" />
		<result property="package_do_tour_end_date" column="package_do_tour_end_date" />
		<result property="package_do_tour_total" column="package_do_tour_total" />
		<result property="package_do_tour_image" column="package_do_tour_image" />
		<result property="package_do_tour_contents" column="package_do_tour_contents" />
		<result property="package_do_tour_start" column="package_do_tour_start" />
		<result property="package_do_tour_arrive" column="package_do_tour_arrive" />
		<result property="package_do_tour_bus" column="package_do_tour_bus" />
		<result property="package_do_tour_busclass" column="package_do_tour_busclass" />
		<result property="package_do_tour_air" column="package_do_tour_air" />
		<result property="package_do_tour_airclass" column="package_do_tour_airclass" />
		<result property="package_do_tour_hotel_class" column="package_do_tour_hotel_class" />
		<result property="package_do_tour_busagency" column="package_do_tour_busagency" />
		<result property="package_do_tour_airagency" column="package_do_tour_airagency" />
		<result property="package_do_tour_theme" column="package_do_tour_theme" />
		<result property="package_do_tour_price" column="package_do_tour_price" />
		<result property="package_do_tour_status" column="package_do_tour_status" />
		<result property="package_do_tour_free" column="package_do_tour_free" />
		<result property="package_do_tour_shopping" column="package_do_tour_shopping" />
		<result property="package_do_tour_manager" column="package_do_tour_manager" />
		<result property="package_do_tour_seatno" column="package_do_tour_seatno" />
		<result property="package_do_tour_thumbnail" column="package_do_tour_thumbnail" />
	</resultMap>
	
	<resultMap type="Package_do_tour_VO" id="package_do_map_resmap">
		<id property="idx" column="idx"/>
		<result property="area" column="area" />
		<result property="location_lat" column="location_lat" />
		<result property="location_lng" column="location_lng" />
	</resultMap>
</mapper>